<!Doctype HTML>
<html>
<head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body class="container">


<div class="jumbotron">
    <h1>Enter your hours</h1>
</div>
<form id="saveHours" method="post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <p>Sunday:</p> <input type="text" name="Sunday" value="0">
        </div>
        <div class="col-md-3">
            <p>Monday:</p> <input type="text" name="Monday" value="0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p>Tuesday:</p> <input type="text" name="Tuesday" value="0">
        </div>
        <div class="col-md-3">
            <p>Wednesday:</p> <input type="text" name="Wednesday" value="0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p>Thursday:</p> <input type="text" name="Thursday" value="0">
        </div>
        <div class="col-md-3">
            <p>Friday:</p> <input type="text" name="Friday" value="0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p>Saturday:</p> <input type="text" name="Saturday" value="0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <input type="submit" id="submit" value="log"/>
        </div>
    </div>



</form>


</body>
</html>