<!Doctype HTML>
<html>
<head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body class="container">


    <div class="jumbotron">
        <h1>Welcome to Hour Tracker<small><br>Were all going to get paid!</small></h1>
    </div>
    <div class="row">

        <div class ="col-md-1"></div>
        <div class="userLogin col-md-10">
        <form id="login" method="POST">
            <p>Username:</p>
            <input name="name" class="name" type ="text">
            <p>Password:</p>
            <input name="password" class="password" type ="password"><br>
            <input type="submit" id="submit" value="login"/>
        </form>
        </div>
        <div class ="col-md-1"></div>
    </div>


</body>
</html>